.App-Results {
  display: flex;
  align-content: center;
  justify-content: center;
}

.SearchResults {
  width: 660px;
}

.SearchResult {
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 5px;
}

.SearchResult-Content {
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 15px;
}

.SearchResult img {
  float: left;
}

.SearchResult h2 {
  text-align: left;
  text-transform: uppercase;
}

.SearchResult p {
  text-align: left;
}